body {
    align-items: center;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
h1 {
    text-align: center;
}

.card {
        background: #fc8835;
        border-radius: 10px;
        margin: 0 auto;
        max-width: 460px;
        padding: 30px;
        text-align: left;      
}